/* 
seletor(quem)
propriedade (cor)
valor: red

- SELETORES
--NOME => nome do elemento
--Class => . 
--ID => #
*/

section{
    background-color: aquamarine;
}

.secaoPrincipal{
    background-color:beige;
}

#text-center{
    text-align: center;
}


